.form-container{
    position: relative;
    left: 35%;
    .errorMsg{
        width: 400px;
        list-style: none;
        padding: 10px;
        border: 1px solid red;
        color: red;
    }
    .form-elements{
        width: 400px;
        clear: both;
        label{
            font-size: 30px;
            font-family: sans-serif;
            padding: 10px;
            float: left;
        }
        input[type='text'],
        input[type='password'],
        input[type='submit']
        {
            float: right;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
            border-radius: 5px;


        }
    }
}